body {
    color: var(--texto-escuro);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--fundo);
    color: white;
    height: 25vh;
    border-radius: 10px;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 65vh;
}

.texto-cabecalho {
    margin: 2% 3%;
}

.titulo-cadastro{
    font-size: 3.5em;
    font-weight: 800;
}

.subtitulo-cadastro {
    font-size: 1.2em;
    margin-top: 15px;
    font-weight: 400;
}

.logo {
    height: 60%;
    margin: 2% 3%;
}

.formularios {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 35%;
}

.direita {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 35%;
}

label {
    font-weight: 600;
    align-self: flex-start;
}

input /*[type="email"]*/ {
    padding: 12px;
    border: 1px solid var(--borda);
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
}

.confirmar-senha {
    font-weight: 200;
}

.confirmar-senha p {
    margin-top: 10px;
}

.entrar {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.botao-entrar {
    color: var(--amarelo);
    background-color: var(--fundo);
    font-size: 1.2em;
    padding: 14px;
    width: 30%;
    border-radius: 10px;
}

.voltar {
    text-decoration:underline;
    color: var(--texto-escuro);
    margin-top: 10px;
}

.botao-entrar:hover {
    background-color: #26394e;
    cursor: pointer;
}

.voltar:hover {
    opacity: 70%;
    cursor: pointer;
}

@media (max-width: 900px) {
    .cabecalho {
        margin: 0;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px ;
    }
}